.panel-box {
    width: 100%; // padding: 5px 5px;
    // border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    // margin-bottom: 20px;
    color: #333;
    .panel-title {
        width: 100%;
        padding: 12px 12px; // border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #27a4fe;
        border: 1px solid #27a4fe;
        position: relative;
        h3 {
            color: #fff !important;
            width: 100px;
            overflow: hidden;
            position: relative;
        }
    }
    .panel-body {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid #ccc;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .today-info {
            margin: 0;
            padding: 0;
            li {
                float: left;
                width: 25%;
                padding: 12px 0;
                &.w33 {
                    width: 33.3333%;
                }
                .title {
                    display: inline-block;
                }
                span {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
        .gjsetting {
            li {
                width: 50%;
                padding: 12px 12px;
                float: left;
            }
            span {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .inner {
                padding: 12px;
                position: relative;
                line-height: 25px;
                .inline-input {
                    display: inline-block;
                    max-width: 200px !important;
                }
            }
        }

        ul.kjsetting {
            display: block;
            width: 100%;
            li {
                width: 33.3333%;
                float: left;
                padding: 12px;
                span{
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
                &.large{
                    width: 100%;
                }
            }
        }
        .ant-radio-group {
            margin: 12px 0;
        }
    }
}